Source: electron-22
Section: unknown
Priority: optional
Maintainer: Eric Long <i@hack3r.moe>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://www.electronjs.org
Rules-Requires-Root: no
Vcs-Git: https://github.com/hack3ric/debian-electron.git
Vcs-Browser: https://github.com/hack3ric/debian-electron

Package: electron-22
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Build cross platform desktop apps with web technologies
